.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(image_path("apart-landing-page.jpeg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landing-page .nav-link {
  margin: 10% 0;
}
.landing-page button {
  background-color: pink;
  border: none;
}

.landing-page button:hover {
  background-color: #ff8c9f;
  border: none;
}
