.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(image_path("apart-landing-page.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .nav-link {
    margin: 20% 0;
  }

  button {
    background-color: pink;
    border: none;
  }

  button:hover {
    background-color: #ff8c9f;
    border: none;
  }
}
